---
import "../styles/global.css";
import Social from "./social.astro";
---


<footer>
    <!-- enlaces con SVG -->
        <Social platform="github" username="reposMrPerson33"/>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 .5C5.73.5.5 5.73.5 12c0 5.09 3.29 9.42 7.86 10.95.58.11.79-.25.79-.56v-2.1c-3.2.7-3.88-1.38-3.88-1.38-.53-1.34-1.29-1.7-1.29-1.7-1.05-.72.08-.71.08-.71 1.16.08 1.77 1.19 1.77 1.19 1.03 1.76 2.7 1.25 3.36.96.1-.75.4-1.25.73-1.54-2.55-.29-5.23-1.28-5.23-5.69 0-1.26.45-2.29 1.19-3.1-.12-.29-.52-1.47.11-3.06 0 0 .97-.31 3.18 1.18a11.07 11.07 0 0 1 5.8 0c2.2-1.49 3.17-1.18 3.17-1.18.64 1.59.24 2.77.12 3.06.74.81 1.18 1.84 1.18 3.1 0 4.42-2.69 5.39-5.25 5.67.41.36.78 1.08.78 2.18v3.23c0 .31.21.68.8.56A11.52 11.52 0 0 0 23.5 12C23.5 5.73 18.27.5 12 .5z"/>
          </svg>

        <Social platform="twitch" username="unkilodesandia"/>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M3 2L1 6v15h5v3h3l3-3h4l6-6V2H3zm17 12l-4 4h-5l-3 3v-3H4V4h16v10z"/>
        <path d="M15 7h2v5h-2zM10 7h2v5h-2z"/>
        </svg>
        
        <Social platform="youtube" username="gothamchess"/>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M23.5 6.2s-.23-1.64-.94-2.36c-.9-.94-1.9-.94-2.36-1C16.9 2.5 12 2.5 12 2.5h-.01s-4.9 0-8.19.34c-.46.06-1.46.06-2.36 1C.73 4.56.5 6.2.5 6.2S.25 8.12.25 10.04v1.92c0 1.92.25 3.84.25 3.84s.23 1.64.94 2.36c.9.94 2.08.91 2.6 1.01 1.88.18 7.96.24 7.96.24s4.91-.01 8.2-.35c.46-.06 1.46-.06 2.36-1 .71-.72.94-2.36.94-2.36s.25-1.92.25-3.84v-1.92c0-1.92-.25-3.84-.25-3.84zM9.75 13.98V7.98l6.25 3-6.25 3z"/>

    </p>
</footer>
</html>