---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import BaseLayout from "../layouts/baseLayout.astro";
import BlogPost from "../components/blogPost.astro";
import "../styles/global.css";
const allPosts = Object.values(import.meta.glob("./posts/*.md", {eager:true}) );



const pageTitle = "Blog";
---
<style>
	*{color: #fff}
</style>

<BaseLayout pageTitle={pageTitle}>
	<h2>subtitulo Blog</h2>
	<p>Bitácora del aprendizaje con Astro</p>
	<div style="margin-bottom: 15px">
		{
			// allPosts = Array
			// allPosts[i]
			allPosts.map( (post: any ) => 
				<BlogPost url={post.url} title={post.frontmatter.title} />
			)
		}
</div>
</BaseLayout>
<script>
	import "../scripts/menu.js";
</script>
