---
import BaseLayout from "../layouts/baseLayout.astro";
import "../styles/global.css";
const pageTitle = "Pagina de inicio"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Subtitulo del blog</h2>
</BaseLayout>
		
<script>
	import "../scripts/menu.js";
</script>
