* {
  }

  html {

    font-family: sans-serif;
  }
  
  body {
    background-image: linear-gradient( white, grey);
  }
  
  h1 {
    color: #000;

  }

  footer{
    margin: 0;
    padding: 0;
    display: flex;
  }
  a{
    margin-left: 25px;
    font-weight: bold;
  }
  svg{
    width: 20px;
    margin: 0 4px;
    color: #18e;
  }